.grid {
	display: flex;
	margin: 0;
}

.grid hr {
	display: flex;
}

.grid.column {
	flex-direction: column;
}

.grid.column hr {
	margin: 4pt;
}

.grid.row {
	flex-direction: row;
}

.grid.row hr {
	margin: 4pt;
}

.grid .item {
	margin: 4pt;
}

.grid .item.expand {
	flex-grow: 1;
}

.grid .item.centered {
	text-align: center;
}

.grid .item.grid {
	margin: 0;
}

.grid ul.item {
	margin-top: 0;
}
