nav.menu-mobile {
	display: none;
}

nav.menu-mobile a {
	display: inline-block;
	text-decoration: none;
}

nav.menu-mobile > div:nth-of-type(1) > a > img {
	width: 36pt;
	height: 36pt;
	vertical-align: bottom;
}

nav.menu-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: #fffffa;
}

nav.menu-items a {
	display: inline-block;
	height: 36pt;
	padding: 0 12pt;
	line-height: 34pt;
	color: #101010;
	text-decoration: none;
	text-shadow: 1px 1px 1px #c0c0c0;
	transition: background 120ms ease-in;
}

nav.menu-items a:hover {
	background: #e0e0e0;
}

nav.menu-items a.current {
	font-weight: bold;
}

nav.menu-items > div {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	flex-direction: row;
}

nav.menu-items > div > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav.menu-items > div > ul > li.current {
	font-weight: bold;
}

nav.menu-items > div:nth-of-type(1) > a {
	font-size: 12pt;
	font-weight: bold;
}

nav.menu-items > div:nth-of-type(1) > a:hover {
	background: unset;
}

nav.menu-items > div:nth-of-type(2) {
	order: 1;
}

nav.menu-items > div:nth-of-type(2) > a > span > img {
	width: 22pt;
	height: 22pt;
	border: #a0a0a0 1pt solid;
	border-radius: 50%;
	vertical-align: middle;
}

nav.menu-items > div:nth-of-type(2) > a > span > span {
	margin-left: 6pt;
	text-transform: uppercase;
}

nav.menu-items > div:nth-of-type(4) > div > span {
	color: transparent;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media only screen and (max-width: 640px) {
	
nav.menu-mobile {
	flex-direction: row;
	background: #fffffa;
	box-shadow: 1px 1px 4px #e0e0e0;
}

nav.menu-mobile {
	position: fixed;
	width: 100%;
	display: flex;
}

nav.menu-items {
	position: fixed;
	flex-direction: column;
	top: 0;
	left: 0;
	bottom: 0;
	max-width: 0;
	box-shadow: none;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: max-width 200ms ease-in;
	z-index: 1;
}

nav.menu-items.expanded {
	justify-content: flex-start;
	max-width: 188pt;
}

nav.menu-items a {
	min-width: 164pt;
}

nav.menu-items > div {
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: unset;
}

nav.menu-items > div:nth-of-type(1) > a {
	display: none;
}

nav.menu-items > div:nth-of-type(2) {
	justify-content: center;
	order: -1;
}

nav.menu-items > div:nth-of-type(2) > a {
	height: unset;
	padding: 12pt 0;
	text-align: center;
	line-height: 14pt;
}

nav.menu-items > div:nth-of-type(2) > a > span > img {
	display: block;
	width: 94pt;
	height: 94pt;
	margin-left: auto;
	margin-right: auto;
}

nav.menu-items > div:nth-of-type(2) > a > span {
	display: inline-block;
}

nav.menu-items > div:nth-of-type(2) > a > span > span {
	display: inline-block;
	margin-top: 8pt;
	margin-left: 0;
	max-width: 140pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 14pt;
}

nav.menu-items > div:nth-of-type(3) {
	flex-grow: 1;
}

nav.menu-items > div:nth-of-type(4) {
	order: -1;
}

nav.menu-items > div:nth-of-type(4) > div {
	display: none;
}

} /* @media only screen and (max-width: 640px) */

@media only screen and (min-width: 640px) {

nav.menu-items > div:nth-of-type(2) > a {
	max-width: 120pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	outline: none;
}

nav.menu-items > div:nth-of-type(3) {
	flex-grow: 1;
}

nav.menu-items > div:nth-of-type(3) > ul {
	display: flex;
	flex-direction: row;
}
	
nav.menu-items > div:nth-of-type(4) {
	position: absolute;
	flex-direction: column;
	top: 54pt;
	right: 8pt;
	border: #a0a0a0 1pt solid;
	border-radius: 2pt;
	background: #fffffa;
	box-shadow:
		0 2pt 4pt rgba(0, 0, 0, 0.10),
		0 2pt 8pt rgba(0, 0, 0, 0.15);
	opacity: 0;
	transition: opacity 40ms ease-in;
}

nav.menu-items > div:nth-of-type(2) > a > span > span:after {
	content: " \25be";
}

nav.menu-items > div:nth-of-type(4).visible {
	opacity: 1;
}

nav.menu-items > div:nth-of-type(4):empty  {
	display: none;
}

nav.menu-items > div:nth-of-type(4) > div {
	position: absolute;
	top: -7pt;
	left: 129pt;
}

nav.menu-items > div:nth-of-type(4) > div > span {
	position: absolute;
	width: 12pt;
	height: 12pt;
	border: #a0a0a0 1pt solid;
	border-right: none;
	border-bottom: none;
	background: #fffffa;
	transform: rotate(45deg);
}

nav.menu-items > div:nth-of-type(4) > ul {
	z-index: 1;
}

nav.menu-items > div:nth-of-type(4) > ul > li > a {
	padding: 0 10pt;
	min-width: 144pt;
	height: 28pt;
	line-height: 26pt;
}

} /* @media only screen and (min-width: 640px) */
